<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
<div class="About content">

    <h2>About</h2>

</div>

<p>When writing your About Us page, you don’t want to say the same things that appear on your Home page, and a long, detailed, historical summary will bore the reader. You also don’t want to sound like you’re boasting. As in most things, the best answer is to find the middle ground.</p>



<%- include('./partials/footer.ejs') %>
</body>
</html>